<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rahbarbazaar.homadit.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".utilities.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activities.VideoStreamActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.activities.VideoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.GroupGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LottaryWinnersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LottaryConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LottaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NewRegisterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PurchasedItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.QRcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NewRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HtmlLoaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditProductsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShoppingProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PhotoGuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dee676583f984e8a93425ffcb3ac20bb0a0b2c34" />
        <meta-data
            android:name="com.pushpole.sdk.token"
            android:value="PUSHPOLE_585671720122" /> <!-- former       android:value="PUSHPOLE_484793000302" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>